# Editor temporary/working/backup files #
#########################################
.#*
[#]*#
*~
*$
*.bak

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.so.*

# Things specific to this project #
###################################
config.log
config.status
makedefs
utils/fitshdr
wcsconfig.h
wcsconfig_f77.h
wcsconfig_tests.h
wcsconfig_utils.h
wcslib.pc
C/fitshdr.c
C/wcsbth.c
C/wcspih.c
html

doxygen/latex
doxygen/doxextr
doxygen/cel.dox
doxygen/doxextr
doxygen/fitshdr.dox
doxygen/getwcstab.dox
doxygen/lin.dox
doxygen/log.dox
doxygen/prj.dox
doxygen/spc.dox
doxygen/sph.dox
doxygen/spx.dox
doxygen/tab.dox
doxygen/wcs.dox
doxygen/wcserr.dox
doxygen/wcsfix.dox
doxygen/wcshdr.dox
doxygen/wcslib.dox
doxygen/wcslib.h
doxygen/wcslib.tag
doxygen/wcsmath.dox
doxygen/wcsprintf.dox
doxygen/wcstrig.dox
doxygen/wcsunits.dox
doxygen/wcsutil.dox

